<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SATVIK"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Satvik"
        tools:targetApi="31">
        <activity
            android:name=".Bill"
            android:exported="false" />

        <activity
            android:name=".Video_page"
            android:exported="false" />
        <activity
            android:name=".mess_register"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".sup_main"
            android:exported="false" />
        <activity
            android:name=".create_account_supplier"
            android:exported="false" />
        <activity
            android:name=".add_menu"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".student_signup"
            android:exported="false" />
        <activity
            android:name=".splash_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".supplier_register"
            android:exported="false" />
        <activity
            android:name=".create_account"
            android:exported="false"
            android:label="@string/title_activity_create_account"
            android:theme="@style/Theme.Satvik" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>